<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>
        <b>CSKN DESIGN</b>
        <br>Visit to <a href="https://omercoskun.vercel.app/" target="_blank">My Portfolio Page</a>
    </p>
</footer>
</body>

</html>